/*General style - start*/
:root {
    --main-background-color: #F6EDD9;
    --secondary-background-color: #758E4F;
    --third-color: white;
    --main-font-color: #162900;
    --secondary-font-color: black;
    --main-accent-color: #00C7F6;
    --secondary-accent-color: #99DDC8;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: radial-gradient(var(--secondary-background-color), var(--main-background-color)); height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

p {
    color: var(--main-font-color);
    font-family: Chilanka, Arial, Helvetica, sans-serif;
}

a {
    color: var(--secondary-font-color);
    font-weight: bold;
    font-family: Chilanka, Arial, Helvetica, sans-serif;
}

a:hover {
    color: var(--third-color);
}
/*General style - end*/

/*Header style - start*/
header {
    margin: -8px -8px;
    height: 90px;
}

#header {
    display: flex;
    justify-content: space-between;
}

#nav-links-wrapper {
    background-color: var(--secondary-background-color);
    border-radius: 20px;
    width: fit-content;
    margin: 20px 10px 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 15px 3px rgba(0,0,0,0.75);
}

.navbar {
    padding: 5px 20px;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}
/*Header style - end*/

/*main style - start*/
h1 {
    color: var(--third-color);
    font-family: CherryBombOne, Arial, Helvetica, sans-serif;
    font-size: 3.3em;
    font-weight: 500;
    text-shadow: var(--secondary-font-color) 6px 6px 8px;
    margin: 5px 0 5px 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.presentation-text {
    font-family: Chilanka, Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 8px 0 5px 10px;
}

#project-gallery {
    height: fit-content;
}

#projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
}

.image-part:hover {
    opacity: 60%;
}

.project-image {
    height: auto;
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 5px;
}

#contact-page {
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
}

#contact-wrapper {
    background-color: var(--main-background-color);
    box-shadow: 0px 6px 14px 1px rgba(0,0,0,0.75);
    border-radius: 40px;
    height: fit-content;
    width: 340px;
    padding-bottom: 20px;
}

#contact-information {
    margin: 10px;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: Chilanka, Arial, Helvetica, sans-serif;
}

.social-media {
    display: inline-flex;
}

.social-media a {
    color: var(--main-font-color);
}

.social-media a:hover {
    color: var(--secondary-background-color);
}

.social-media a {
    padding: 3px;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

input {
    width: 130px;
    padding: 8px;
    margin: 3px;
    border-radius: 5px;
    border: 2px solid var(--secondary-accent-color);
    font-family: Chilanka, Arial, Helvetica, sans-serif;
}

textarea {
    height: 110px;
    width: 197px;
    border-radius: 5px;
    border: 2px solid var(--secondary-accent-color);
    font-family: Chilanka, Arial, Helvetica, sans-serif;
}

button {
    background-color: var(--secondary-accent-color);
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    border: 2px solid var(--secondary-accent-color);
    font-family: Chilanka, Arial, Helvetica, sans-serif;
    max-height: fit-content;
}

button:hover {
    background-color: var(--main-accent-color);
}

/*main style - end*/

/*footer style - start*/
footer {
    position: relative;
    bottom: 0;
}
/*footer style - end*/

@font-face {
    font-family: PixelifySans;
    src: url(PixelifySans-VariableFont_wght.ttf);
}

@font-face {
    font-family: SpaceGrotesk;
    src: url(SpaceGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: CherryBombOne;
    src: url(CherryBombOne-Regular.ttf);
}

@font-face {
    font-family: Chilanka;
    src: url(Chilanka-Regular.ttf);
}

@media screen and (min-width: 769px) {
    #projects {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1025px) {
    #projects {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .project-image {
        width: 300px;
    }
}

@media screen and (min-width: 1600px) {
    #projects {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}